<div class="descriptive-statistics mt-5">
    <div class="text-center container mb-5">
        <h1 class="p-5">SNOMED CT Descriptive Statistics</h1>
        <p>This viewer presents a set of descriptive measures and statistics, obtained through automated queries, with the objective of providing information on content changes and temporal trends as a measurement of progress.</p>
    </div>
    <div class="primary-charts text-center container-fluid bg-athens-grey-lighter p-5">
        <div class="row">
            <div class="col">
                <h2 class="text-center mb-5">Active Concepts in SNOMED CT among all first level hierarchies</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <p-chart id="pieChart1" type="pie" [data]="chart1Data" [options]="pieChartOptions"></p-chart>
            </div>
            <div class="col-6">
                <p-chart id="barChart1" type="bar" [data]="chart2Data" [options]="barChartOptions"></p-chart>
            </div>
        </div>
    </div>
    <div class="secondary-charts text-center container-fluid">
        <div class="row">
            <div class="col-4">
                <h2 class="m-5">New Concepts</h2>
                <p-chart id="pieChart2" type="pie" [data]="chart3Data" [options]="countPieChartOptions"></p-chart>
            </div>
            <div class="col-4">
                <h2 class="m-5">Inactivated Concepts</h2>
                <p-chart id="pieChart3" type="pie" [data]="chart4Data" [options]="countPieChartOptions"></p-chart>
            </div>
            <div class="col-4">
                <h2 class="m-5">Changed Concepts</h2>
                <p-chart id="pieChart4" type="pie" [data]="chart5Data" [options]="countPieChartOptions"></p-chart>
            </div>
        </div>
    </div>
</div>
