<div class="new-concepts m-5">
    <div class="container-xl">
        <h1 class="text-center p-5">New Concepts (relative to previous published release)</h1>
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">Hierarchy</th>
                <th scope="col">New Concepts</th>
                <th scope="col">New in Hierarchy</th>
                <th scope="col">New in Release</th>
                <th scope="col">Added as SD</th>
                <th scope="col">Added as P</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let row of tableRows">
                <td>{{row.name}}</td>
                <td>{{row.newConcepts | number}}</td>
                <td>{{row.newConcepts ? (percentage(row.newConcepts, row.total) | number:'1.2-2') + '%' : '-'}}</td>
                <td>{{row.newConcepts ? (percentage(row.newConcepts, overviewRow.newConcepts) | number:'1.2-2') + '%' : '-'}}</td>
                <td>{{row.newConcepts ? (percentage(row.sd, row.newConcepts) | number:'1.2-2') + '%' : '-'}}</td>
                <td>{{row.newConcepts ? (percentage(row.p, row.newConcepts) | number:'1.2-2') + '%' : '-'}}</td>
            </tr>
            <tr *ngIf="overviewRow">
                <td class="font-weight-bold">Total</td>
                <td class="font-weight-bold">{{overviewRow.newConcepts | number}}</td>
                <td class="font-weight-bold">{{overviewRow.newConcepts ? (percentage(overviewRow.newConcepts, overviewRow.total) | number:'1.2-2') + '%' : '-'}}</td>
                <td class="font-weight-bold">{{overviewRow.newConcepts ? (percentage(overviewRow.total, overviewRow.total) | number:'1.2-2') + '%' : '-'}}</td>
                <td class="font-weight-bold">{{overviewRow.newConcepts ? (percentage(overviewRow.sd, overviewRow.newConcepts) | number:'1.2-2') + '%' : '-'}}</td>
                <td class="font-weight-bold">{{overviewRow.newConcepts ? (percentage(overviewRow.p, overviewRow.newConcepts) | number:'1.2-2') + '%' : '-'}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
