<div class="new-concepts container-xl">
    <h1 class="text-center p-5">New Concepts</h1>
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">Hierarchy</th>
            <th scope="col">New Concepts</th>
            <th scope="col">New in Hierarchy (%)</th>
            <th scope="col">New in Release (%)</th>
            <th scope="col">Added as SD (%)</th>
            <th scope="col">Added as P (%)</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>SNOMED CT Concept (SNOMED RT+CTV3)</td>
            <td>4411</td>
            <td>0.93%</td>
            <td>100.00%</td>
            <td>71.43%</td>
            <td>28.57%</td>
        </tr>
        <tr>
            <td>Body structure (body structure)</td>
            <td>451</td>
            <td>1.15%</td>
            <td>10.22%</td>
            <td>29.26%</td>
            <td>70.74%</td>
        </tr>
        <tr>
            <td>Clinical finding (finding)</td>
            <td>1206</td>
            <td>1.06%</td>
            <td>27.34%</td>
            <td>67.08%</td>
            <td>32.92%</td>
        </tr>
        <tr>
            <td>Environment or geographical location (environment / location)</td>
            <td>0</td>
            <td>0.00%</td>
            <td>0.00%</td>
            <td>0.00%</td>
            <td>100.00%</td>
        </tr>
        <tr>
            <td>Event (event)</td>
            <td>6</td>
            <td>0.18%</td>
            <td>0.13%</td>
            <td>0.00%</td>
            <td>100.00%</td>
        </tr>
        <tr>
            <td>Observable entity (observable entity)</td>
            <td>32</td>
            <td>0.35%</td>
            <td>0.72%</td>
            <td>0.00%</td>
            <td>100.00%</td>
        </tr>
        <tr>
            <td>Organism (organism)</td>
            <td>141</td>
            <td>0.40%</td>
            <td>3.19%</td>
            <td>0.00%</td>
            <td>100.00%</td>
        </tr>
        <tr>
            <td>Pharmaceutical / biologic product (product)</td>
            <td>1929</td>
            <td>8.68%</td>
            <td>43.73%</td>
            <td>99.89%</td>
            <td>0.11%</td>
        </tr>
        <tr>
            <td>Physical force (physical force)</td>
            <td>0</td>
            <td>0.00%</td>
            <td>0.00%</td>
            <td>0.00%</td>
            <td>100.00%</td>
        </tr>
        <tr>
            <td>Physical object (physical object)</td>
            <td>44</td>
            <td>0.28%</td>
            <td>0.99%</td>
            <td>0.00%</td>
            <td>100.00%</td>
        </tr>
        <tr>
            <td>Procedure (procedure)</td>
            <td>215</td>
            <td>0.36%</td>
            <td>4.87%</td>
            <td>78.13%</td>
            <td>21.87%</td>
        </tr>
        <tr>
            <td>Qualifier value (qualifier value)</td>
            <td>149</td>
            <td>1.36%</td>
            <td>3.37%</td>
            <td>4.69%</td>
            <td>95.31%</td>
        </tr>
        <tr>
            <td>Record artifact (record artifact)	</td>
            <td>7</td>
            <td>1.44%</td>
            <td>0.15%</td>
            <td>0.00%</td>
            <td>100.00%</td>
        </tr>
        <tr>
            <td>SNOMED CT Model Component (metadata)</td>
            <td>13</td>
            <td>0.75%</td>
            <td>0.29%</td>
            <td>0.00%</td>
            <td>100.00%</td>
        </tr>
        <tr>
            <td>Situation with explicit context (situation)</td>
            <td>86</td>
            <td>1.82%</td>
            <td>1.94%</td>
            <td>98.83%</td>
            <td>1.17%</td>
        </tr>
        <tr>
            <td>Social context (social concept)</td>
            <td>1</td>
            <td>0.02%</td>
            <td>0.02%</td>
            <td>0.00%</td>
            <td>100.00%</td>
        </tr>
        <tr>
            <td>Special concept (special concept)</td>
            <td>0</td>
            <td>0.00%</td>
            <td>0.00%</td>
            <td>0.00%</td>
            <td>100.00%</td>
        </tr>
        <tr>
            <td>Specimen (specimen)</td>
            <td>4</td>
            <td>0.23%</td>
            <td>0.09%</td>
            <td>0.00%</td>
            <td>100.00%</td>
        </tr>
        <tr>
            <td>Staging and scales (staging scale)</td>
            <td>2</td>
            <td>0.12%</td>
            <td>0.04%</td>
            <td>0.00%</td>
            <td>100.00%</td>
        </tr>
        <tr>
            <td>Substance (substance)</td>
            <td>125</td>
            <td>0.46%</td>
            <td>2.83%</td>
            <td>18.40%</td>
            <td>81.60%</td>
        </tr>
        </tbody>
    </table>
</div>
