<div class="concept-changes-counts m-5 pb-5">
    <div class="container-xl">
        <h1 class="text-center p-5">
            Concepts Changed
            <span *ngIf="!percentages" class="rounded-lg p-2 float-right bg-wisteria-lighter" (click)="percentages = true">to Percentages</span>
            <span *ngIf="percentages" class="rounded-lg p-2 float-right bg-wisteria-lighter" (click)="percentages = false">to Counts</span>
        </h1>
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">Hierarchy</th>
                <th scope="col">Any</th>
                <th scope="col">Stated Concept Definition Changes</th>
                <th scope="col">Inferred Concept Definition Changes</th>
                <th scope="col">Description Change</th>
            </tr>
            </thead>
            <tbody *ngIf="!percentages">
            <tr *ngIf="overviewRow">
                <td>{{overviewRow.name}}</td>
                <td>{{overviewRow.statedChanged + overviewRow.inferredChanged + overviewRow.descriptionChanged}}</td>
                <td>{{overviewRow.statedChanged}}</td>
                <td>{{overviewRow.inferredChanged}}</td>
                <td>{{overviewRow.descriptionChanged}}</td>
            </tr>
            <tr *ngFor="let row of tableRows">
                <td>{{row.name}}</td>
                <td>{{row.statedChanged + row.inferredChanged + row.descriptionChanged}}</td>
                <td>{{row.statedChanged}}</td>
                <td>{{row.inferredChanged}}</td>
                <td>{{row.descriptionChanged}}</td>
            </tr>
            </tbody>
            <tbody *ngIf="percentages">
            <tr *ngIf="overviewRow">
                <td>{{overviewRow.name}}</td>
                <td>{{percentage(overviewRow.statedChanged + overviewRow.inferredChanged + overviewRow.descriptionChanged, overviewRow.total) | number:'1.2-2'}}%</td>
                <td>{{percentage(overviewRow.statedChanged, overviewRow.total) | number:'1.2-2'}}%</td>
                <td>{{percentage(overviewRow.inferredChanged, overviewRow.total) | number:'1.2-2'}}%</td>
                <td>{{percentage(overviewRow.descriptionChanged, overviewRow.total) | number:'1.2-2'}}%</td>
            </tr>
            <tr *ngFor="let row of tableRows">
                <ng-container *ngIf="row.statedChanged + row.inferredChanged + row.descriptionChanged">
                    <td>{{row.name}}</td>
                    <td>{{percentage(row.statedChanged + row.inferredChanged + row.descriptionChanged, row.total) | number:'1.2-2'}}%</td>
                    <td>{{percentage(row.statedChanged, row.total) | number:'1.2-2'}}%</td>
                    <td>{{percentage(row.inferredChanged, row.total) | number:'1.2-2'}}%</td>
                    <td>{{percentage(row.descriptionChanged, row.total) | number:'1.2-2'}}%</td>
                </ng-container>
                <ng-container *ngIf="!(row.statedChanged + row.inferredChanged + row.descriptionChanged)">
                    <td>{{row.name}}</td>
                    <td>{{percentage(row.statedChanged + row.inferredChanged + row.descriptionChanged, row.total) | number:'1.0'}}%</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                </ng-container>
            </tr>
            </tbody>
        </table>
    </div>
</div>
