<div class="concept-changes-counts m-5 pb-5">
    <div class="container-xl position-relative">
        <h1 class="text-center p-5">Concepts Changed (relative to previous published release)</h1>
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">Hierarchy</th>
                <th scope="col">Concepts Changed</th>
                <th scope="col">Stated Modelling Changes</th>
                <th scope="col">Inferred Modelling Changes</th>
                <th scope="col">Description Changes</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let row of tableRows">
                <td>{{row.name}}</td>
                <td>{{row.statedChanged + row.inferredChanged + row.descriptionChanged | number}}</td>
                <td>{{row.statedChanged | number}}</td>
                <td>{{row.inferredChanged | number}}</td>
                <td>{{row.descriptionChanged | number}}</td>
            </tr>
            <tr *ngIf="overviewRow">
                <td class="fw-bolder">Total</td>
                <td class="fw-bolder">{{overviewRow.statedChanged + overviewRow.inferredChanged + overviewRow.descriptionChanged | number}}</td>
                <td class="fw-bolder">{{overviewRow.statedChanged | number}}</td>
                <td class="fw-bolder">{{overviewRow.inferredChanged | number}}</td>
                <td class="fw-bolder">{{overviewRow.descriptionChanged | number}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
