div.concept-changes-counts {
    font-family: 'Raleway', 'Helvetica Neue', 'Arial', sans-serif;
    font-weight: 300;
    position: relative;
    overflow-y: auto;

    h1, h2 {
        font-weight: 400;

        span {
            font-size: 1.2rem;
            width: 12rem;
            cursor: pointer;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }
    }

    table {
        font-size: 1.4rem;
    }
}

