div.concept-changes-counts {
    font-family: 'Raleway', 'Helvetica Neue', 'Arial', sans-serif;
    font-weight: 300;
    position: relative;
    overflow-y: scroll;

    h1, h2 {
        font-weight: 400;

        span {
            padding-top: 0.5rem;
            line-height: 3rem;
            height: 4rem;
            width: 4rem;
            cursor: pointer;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }
    }

    table {
        font-size: 1.4rem;
    }
}

