<div class="general-release-statistics m-5">
    <div class="container-xl">
        <h1 class="text-center p-5">General Release Statistics</h1>
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">Hierarchy</th>
                <th scope="col">Concepts</th>
                <th scope="col">Concept Distribution</th>
                <th scope="col">Descriptions</th>
                <th scope="col">Relationships</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngIf="overviewRow">
                <td>{{overviewRow.name}}</td>
                <td>{{overviewRow.total | number}}</td>
                <td>{{percentage(overviewRow.total) | number:'1.2-2'}}%</td>
                <td>{{overviewRow.descriptions | number}}</td>
                <td>{{overviewRow.relationships | number}}</td>
            </tr>
            <tr *ngFor="let row of tableRows">
                <td>{{row.name}}</td>
                <td>{{row.total | number}}</td>
                <td>{{percentage(row.total) | number:'1.2-2'}}%</td>
                <td>{{row.descriptions | number}}</td>
                <td>{{row.relationships | number}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
