<div class="inactivated-concepts m-5 pb-5">
    <div class="container-xl">
        <h1 class="text-center p-5">Inactivated Concepts (relative to previous published release)</h1>
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">Hierarchy</th>
                <th scope="col">Inactivated Concepts</th>
                <th scope="col">Inactivated in Release</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let row of tableRows">
                <td>{{row.name}}</td>
                <td>{{row.newInactivations | number}}</td>
                <td>{{row.newInactivations ? (percentage(row.newInactivations, overviewRow.newInactivations) | number:'1.2-2') + '%' : '-'}}</td>
            </tr>
            <tr *ngIf="overviewRow">
                <td class="fw-bolder">Total</td>
                <td class="fw-bolder">{{overviewRow.newInactivations | number}}</td>
                <td class="fw-bolder">{{overviewRow.newInactivations ? (percentage(overviewRow.newInactivations, overviewRow.newInactivations) | number:'1.2-2') + '%' : '-'}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
