<div class="inactivated-concepts m-5 pb-5">
    <div class="container-xl">
        <h1 class="text-center p-5">Inactivated Concepts (relative to previous published release)</h1>
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">Hierarchy</th>
                <th scope="col">Overall Inactivated Concepts</th>
                <th scope="col">% of Hierarchy Inactivated</th>
                <th scope="col">% of All Inactivated</th>
                <th scope="col">As Ambigous</th>
                <th scope="col">As Moved Elsewhere</th>
                <th scope="col">As Duplicate</th>
                <th scope="col">As Erroneous</th>
                <th scope="col">As Limited</th>
                <th scope="col">As Outdated</th>
                <th scope="col">As Non Conformance</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngIf="overviewRow">
                <td>{{overviewRow.name}}</td>
                <td>{{overviewRow.inactivated | number}}</td>
                <td>{{overviewRow.inactivated ? (percentage(overviewRow.inactivated, overviewRow.total) | number:'1.2-2') + '%' : '-'}}</td>
                <td>{{overviewRow.inactivated ? (percentage(overviewRow.inactivated, overviewRow.inactivated) | number:'1.2-2') + '%' : '-'}}</td>
                <td>{{overviewRow.ambiguous}}</td>
                <td>{{overviewRow.movedElsewhere}}</td>
                <td>{{overviewRow.duplicate}}</td>
                <td>{{overviewRow.erroneous}}</td>
                <td>{{overviewRow.limited}}</td>
                <td>{{overviewRow.outdated}}</td>
                <td>{{overviewRow.nonConformance}}</td>
            </tr>
            <tr *ngFor="let row of tableRows">
                <td>{{row.name}}</td>
                <td>{{row.inactivated | number}}</td>
                <td>{{row.inactivated ? (percentage(row.inactivated, overviewRow.total) | number:'1.2-2') + '%' : '-'}}</td>
                <td>{{row.inactivated ? (percentage(row.inactivated, overviewRow.inactivated) | number:'1.2-2') + '%' : '-'}}</td>
                <td>{{row.ambiguous}}</td>
                <td>{{row.movedElsewhere}}</td>
                <td>{{row.duplicate}}</td>
                <td>{{row.erroneous}}</td>
                <td>{{row.limited}}</td>
                <td>{{row.outdated}}</td>
                <td>{{row.nonConformance}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
