<div class="inactivated-concepts container-xl">
    <h1 class="text-center p-5">Inactivated Concepts</h1>
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">Hierarchy</th>
            <th scope="col">Inactivated Concepts</th>
            <th scope="col">Hierarchy Inactivated (%)</th>
            <th scope="col">All Inactivated (%)</th>
            <th scope="col">As Ambigous (%)</th>
            <th scope="col">As Duplicate (%)</th>
            <th scope="col">As Erroneous (%)</th>
            <th scope="col">As Not Stated (%)</th>
            <th scope="col">As Outdated (%)</th>
            <th scope="col">As Moved (%)</th>
            <th scope="col">As Limited (%)</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>SNOMED CT Concept (SNOMED RT+CTV3)</td>
            <td>3142</td>
            <td>0.66%</td>
            <td>100.00%</td>
            <td>20.14%</td>
            <td>10.56%</td>
            <td>7.57%</td>
            <td>0.00%</td>
            <td>58.81%</td>
            <td>1.20%</td>
            <td>0.00%</td>
        </tr>
        <tr>
            <td>Body structure (body structure)</td>
            <td>88</td>
            <td>0.22%</td>
            <td>2.80%</td>
            <td>42.04%</td>
            <td>57.95%</td>
            <td>0.00%</td>
            <td>0.00%</td>
            <td>0.00%</td>
            <td>0.00%</td>
            <td>0.00%</td>
        </tr>
        <tr>
            <td>Clinical finding (finding)</td>
            <td>556</td>
            <td>0.48%</td>
            <td>17.69%</td>
            <td>54.85%</td>
            <td>31.83%</td>
            <td>3.23%</td>
            <td>0.00%</td>
            <td>8.09%</td>
            <td>1.25%</td>
            <td>0.00%</td>
        </tr>
        <tr>
            <td>Environment or geographical location (environment / location)</td>
            <td>0</td>
            <td>0.00%</td>
            <td>0.00%</td>
            <td>0.00%</td>
            <td>0.00%</td>
            <td>0.00%</td>
            <td>0.00%</td>
            <td>0.00%</td>
            <td>0.00%</td>
            <td>0.00%</td>
        </tr>
        <tr>
            <td>Event (event)</td>
            <td>4</td>
            <td>0.12%</td>
            <td>0.12%</td>
            <td>50.00%</td>
            <td>50.00%</td>
            <td>0.00%</td>
            <td>0.00%</td>
            <td>0.00%</td>
            <td>0.00%</td>
            <td>0.00%</td>
        </tr>
        <tr>
            <td>Observable entity (observable entity)</td>
            <td>1</td>
            <td>0.01%</td>
            <td>0.03%</td>
            <td>100.00%</td>
            <td>0.00%</td>
            <td>0.00%</td>
            <td>0.00%</td>
            <td>0.00%</td>
            <td>0.00%</td>
            <td>0.00%</td>
        </tr>
        <tr>
            <td>Organism (organism)</td>
            <td>43</td>
            <td>0.12%</td>
            <td>1.36%</td>
            <td>27.90%</td>
            <td>13.95%</td>
            <td>0.00%</td>
            <td>0.00%</td>
            <td>6.97%</td>
            <td>0.00%</td>
            <td>0.00%</td>
        </tr>
        <tr>
            <td>Pharmaceutical / biologic product (product)</td>
            <td>2032</td>
            <td>9.14%</td>
            <td>64.67%</td>
            <td>0.93%</td>
            <td>0.88%</td>
            <td>9.99%</td>
            <td>0.00%</td>
            <td>87.69%</td>
            <td>0.00%</td>
            <td>0.00%</td>
        </tr>
        <tr>
            <td>Physical force (physical force)</td>
            <td>0</td>
            <td>0.00%</td>
            <td>0.00%</td>
            <td>0.00%</td>
            <td>0.00%</td>
            <td>0.00%</td>
            <td>0.00%</td>
            <td>0.00%</td>
            <td>0.00%</td>
            <td>0.00%</td>
        </tr>
        <tr>
            <td>Physical object (physical object)</td>
            <td>8</td>
            <td>0.05%</td>
            <td>0.25%</td>
            <td>0.00%</td>
            <td>50.00%</td>
            <td>50.00%</td>
            <td>0.00%</td>
            <td>0.00%</td>
            <td>0.00%</td>
            <td>0.00%</td>
        </tr>
        <tr>
            <td>Procedure (procedure)</td>
            <td>259</td>
            <td>0.44%</td>
            <td>8.24%</td>
            <td>69.11%</td>
            <td>22.00%</td>
            <td>1.93%</td>
            <td>0.00%</td>
            <td>5.01%</td>
            <td>1.54%</td>
            <td>0.00%</td>
        </tr>
        <tr>
            <td>Qualifier value (qualifier value)</td>
            <td>53</td>
            <td>0.48%</td>
            <td>1.68%</td>
            <td>67.92%</td>
            <td>1.88%</td>
            <td>13.20%</td>
            <td>0.00%</td>
            <td>7.54%</td>
            <td>0.00%</td>
            <td>0.00%</td>
        </tr>
        <tr>
            <td>Record artifact (record artifact)	</td>
            <td>0</td>
            <td>0.00%</td>
            <td>0.00%</td>
            <td>0.00%</td>
            <td>0.00%</td>
            <td>0.00%</td>
            <td>0.00%</td>
            <td>0.00%</td>
            <td>0.00%</td>
            <td>0.00%</td>
        </tr>
        <tr>
            <td>SNOMED CT Model Component (metadata)</td>
            <td>0</td>
            <td>0.00%</td>
            <td>0.00%</td>
            <td>0.00%</td>
            <td>0.00%</td>
            <td>0.00%</td>
            <td>0.00%</td>
            <td>0.00%</td>
            <td>0.00%</td>
            <td>0.00%</td>
        </tr>
        <tr>
            <td>Situation with explicit context (situation)</td>
            <td>5</td>
            <td>0.10%</td>
            <td>0.15%</td>
            <td>80.00%</td>
            <td>20.00%</td>
            <td>0.00%</td>
            <td>0.00%</td>
            <td>0.00%</td>
            <td>0.00%</td>
            <td>0.00%</td>
        </tr>
        <tr>
            <td>Social context (social concept)</td>
            <td>28</td>
            <td>0.59%</td>
            <td>0.89%</td>
            <td>3.57%</td>
            <td>0.00%</td>
            <td>0.00%</td>
            <td>0.00%</td>
            <td>0.00%</td>
            <td>96.42%</td>
            <td>0.00%</td>
        </tr>
        <tr>
            <td>Special concept (special concept)</td>
            <td>0</td>
            <td>0.00%</td>
            <td>0.00%</td>
            <td>0.00%</td>
            <td>0.00%</td>
            <td>0.00%</td>
            <td>0.00%</td>
            <td>0.00%</td>
            <td>0.00%</td>
            <td>0.00%</td>
        </tr>
        <tr>
            <td>Specimen (specimen)</td>
            <td>1</td>
            <td>0.05%</td>
            <td>0.03%</td>
            <td>0.00%</td>
            <td>100.00%</td>
            <td>0.00%</td>
            <td>0.00%</td>
            <td>0.00%</td>
            <td>0.00%</td>
            <td>0.00%</td>
        </tr>
        <tr>
            <td>Staging and scales (staging scale)</td>
            <td>1</td>
            <td>0.06%</td>
            <td>0.03%</td>
            <td>100.00%</td>
            <td>0.00%</td>
            <td>0.00%</td>
            <td>0.00%</td>
            <td>0.00%</td>
            <td>0.00%</td>
            <td>0.00%</td>
        </tr>
        <tr>
            <td>Substance (substance)</td>
            <td>63</td>
            <td>0.23%</td>
            <td>2.00%</td>
            <td>57.14%</td>
            <td>22.22%</td>
            <td>1.58%</td>
            <td>0.00%</td>
            <td>1.58%</td>
            <td>0.00%</td>
            <td>0.00%</td>
        </tr>
        </tbody>
    </table>
</div>
