<nav class="navbar sticky-top navbar-dark bg-dark p-2 pr-2">
    <a class="logo" routerLink="/descriptive-statistics">
        <img class="logo mr-2 p-0" src="/qa/assets/small_logo.png">
        <span class="title text-athens-grey">{{title}}</span>
    </a>

    <ng-container [ngSwitch]="environment">
        <div *ngSwitchCase="'local'" class="banner text-white local"></div>
        <div *ngSwitchCase="'dev'" class="banner text-white dev"></div>
        <div *ngSwitchCase="'uat'" class="banner text-white uat"></div>
        <div *ngSwitchCase="'training'" class="banner text-white training"></div>
        <div *ngSwitchDefault class="banner text-white d-none"></div>
    </ng-container>
</nav>




