@import 'src/variables.scss';

footer.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 40px; /* Set the fixed height of the footer here */
    line-height: 40px; /* Vertically center the text there */
    background-color: #f5f5f5;
    overflow-y: hidden;
    white-space: nowrap;

    a {
        color: $alto-white;
        font-size: 1.2rem;

        &:hover {
            color: $pacific-blue;
            text-decoration: none;
        }
    }
}
