@import 'src/variables.scss';

$tonys-pink: #E98689;
$perano: #9DC7F0;
$spring-rain: #A6D0A6;
$vanilla: #D0C2A6;

div.release-summary {
    font-weight: 300;
    position: relative;
    overflow-y: scroll;
    height: calc(100vh - 12rem);

    h1, h2 {
        font-weight: 400;
    }

    button {
        position: absolute;
        font-size: 1.2rem;
        top: 2rem;
        right: 2rem;
        color: white;
    }

    table {
        font-size: 1.2rem;
        margin-bottom: 4rem;

        thead {
            background-color: $white;

            &.sticky-top {
                z-index: 1010;
            }

            tr {
                th {
                    &.bg-tonys-pink {
                        background-color: lighten($tonys-pink, 20%);
                    }

                    &.bg-perano {
                        background-color: lighten($perano, 20%);
                    }

                    &.bg-spring-rain {
                        background-color: lighten($spring-rain, 20%);
                    }

                    &.bg-vanilla {
                        background-color: lighten($vanilla, 20%);
                    }
                }
            }
        }

        tbody {
            tr {
                td {
                    &:first-child {
                        font-weight: 500;
                    }
                }
            }
        }
    }
}

