@import 'src/variables.scss';

nav.navbar {
    height: 3rem;
    //z-index: auto;
    margin-top: 5rem;
    z-index: 1000;

    a {
        line-height: 3rem;
        color: $alto-white;

        &:hover, &.active {
            text-decoration: none;
            background-color: $bootstrap-dark;
        }
    }
}
