<nav class="navbar fixed-top p-0 bg-river-bed">
    <a class="nav-item text-center text-athens-grey col" routerLinkActive="active" routerLink="/descriptive-statistics">DESCRIPTIVE STATISTICS</a>
    <a class="nav-item text-center text-athens-grey col" routerLinkActive="active" routerLink="/generalReleaseStatistics">GENERAL RELEASE STATISTICS</a>
    <a class="nav-item text-center text-athens-grey col" routerLinkActive="active" routerLink="/newConcepts">NEW CONCEPTS</a>
    <a class="nav-item text-center text-athens-grey col" routerLinkActive="active" routerLink="/inactivatedConcepts">INACTIVATED CONCEPTS</a>
    <a class="nav-item text-center text-athens-grey col" routerLinkActive="active" routerLink="/conceptChangesCounts">CHANGES TO CONCEPTS</a>
    <a class="nav-item text-center text-athens-grey col" routerLinkActive="active" routerLink="/releaseSummary">RELEASE SUMMARY</a>
</nav>
