@import '~bootstrap/dist/css/bootstrap.min.css';
@import 'src/variables.scss';

html {
    font-size: 62.5%;
    position: relative;
    min-height: 100%;
}

body#main-body {
    font-family: "Helvetica Neue", Arial, sans-serif;
    font-size: 1.4rem;
    letter-spacing: 0.5px;
}

.footer-margin {
    margin-bottom: 40px;
}

button, input, textarea {
    font-weight: 300;
    letter-spacing: 1.5px;
    border: none;
    resize: none;

    &:focus {
        outline: none !important;
    }

    &:hover {
        cursor: pointer;
    }
}

button.btn {
    font-size: 1.4rem;
    letter-spacing: 1.5px;
}
