// SNOMED COLOURS

// BLACKS
//$black: #000000;
//$cod-grey: #101010;
//$mine-shaft-grey: #303030;

// GREYS
//$emperor-grey: #505050;
//$scorpion-grey: #606060;
//$dove-grey: #707070;

//$slate-grey: #708090;
//$regent-grey: #9FABB7;
//$ghost-grey: #C8CFD6;

// WHITES
$alto-white: #E0E0E0;
//$gallery-white: #F0F0F0;
$white: #FFFFFF;

// YELLOWS
//$sidecar-yellow: #F4ECBE;

// BLUES
$pacific-blue: #009ACD;
//$onahau-blue: #D2F3FE;

// GREENS
//$forest-green: #2D8C28;
//$pastel-green: #6DE067;
//$granny-smith-apple-green: #9AE996;

// REDS
$crimson-red: #D71431;
$froly-red: #F38189;
$shilo-red: #E6A3A8;


// SNOMED TRANSPARENCIES

//$black-70: rgba(0, 0, 0, 0.7);
//$grey-70: rgba(64, 64, 64, 0.7);
